.editor {
    width: 80%;
}

.buttons {
    max-width: 15%;
}

#OpenedFile {
    font-size: 2vh;
}

textarea {
    height: 80vh;
}


/* normal laptop */

@media only screen and (max-width: 1400px) {
    .editor {
        width: 82%;
    }
    textarea {
        height: 60vh;
    }
}


/* small desktop */

@media all and (max-width: 1200px) {
    .editor {
        width: 75%;
    }
    textarea {
        height: 50vh;
    }
}


/* tablet */

@media all and (max-width: 1024px) {
    .editor {
        width: 60%;
    }
    .buttons {
        max-width: 15%;
    }
    textarea {
        height: 45vh;
    }
}


/* mobile phone */

@media all and (max-width: 768px) {
    .editor {
        width: 100%;
    }
    .buttons {
        max-width: 100%;
    }
    textarea {
        height: 40vh;
    }
}
